<form class="contact-form" id="contactForm" data-request="{{ __SELF__ }}::onFormSubmit">
    {{ form_token() }}
    <div id="{{ __SELF__ }}_forms_flash"></div>
    <div class="js-hide">
        <div class="form-box mb-15">
            <label class="sr-only" for="contactName">Name*</label>
            <input id="contactName" type="text" name="name" placeholder="Name*" required>
        </div>
    
        <div class="form-box email-icon mb-15">
            <label class="sr-only" for="contactEmail">Email*</label>
            <input id="contactEmail" type="email" name="email" placeholder="Email*" required>
        </div>
    
        <div class="form-box phone-icon mb-15">
            <label class="sr-only" for="contactPhone">Phone</label>
            <input id="contactPhone" type="text" name="phone" placeholder="Phone">
        </div>
    
        <div class="form-box mb-15">
            <label class="sr-only" for="contactSubject">Subject*</label>
            <input id="contactSubject" type="text" name="subject" placeholder="Subject*" required>
        </div>
    
        <div class="form-box mb-15">
            <label class="sr-only" for="contactMessage">Message*</label>
            <textarea id="contactMessage" name="message" placeholder="Message*" required></textarea>
        </div>
    
        <div class="custom-control custom-checkbox mb-15">
            <input id="contactConsent" type="checkbox" name="consent" class="custom-control-input" required>
            <label for="contactConsent" class="custom-control-label">I consent to have this website collect my submitted information so they can respond to my inquiry. I have read and accept the <a href="{{ 'privacy-policy'|page }}">Privacy Policy.</a></label>
        </div>

        <div class="submit-info">
            <button class="submit-btn2" type="submit">Send Message</button>
        </div>
    </div>
</form>