<div class="slider-area2" style="background-image:url({{ (this.theme.misc_page_cover|length) ? this.theme.misc_page_cover|media : 'assets/demo/page-cover.jpg'|theme }})">
    <div class="slider-height2 hero-overly d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero__caption hero__caption2">
                        <h1 id="coverTitle" class="{{ (align == 'center') ? 'text-center' : 'text-left' }}">{{ title }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>