<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="{{ (this.theme.global_preloader_icon|length) ? this.theme.global_preloader_icon.path : 'assets/demo/loader.png'|theme }}" alt="Page loader" width="55" height="55">
            </div>
        </div>
    </div>
</div>