#contact {
    .tailor-offers {
        @media #{$md} {
            display: none;
        }

        @media #{$sm} {
            display: none;
        }

        @media #{$xs} {
            display: none;
        }
    }
    .tailor-details {
        padding-bottom: 120px;

        @media #{$lg} {
            padding-bottom: 100px;
        }

        @media #{$md} {
            padding-bottom: 70px;
        }

        @media #{$sm} {
            padding-bottom: 70px;
        }

        @media #{$xs} {
            padding-bottom: 70px;
        }
    }
}

.contact-form {
    position: relative;
   
    .custom-control {
        &-input {
            &:checked~.custom-control-label::before {
                background-color: $theme-color;
            }
        }

        &-label {
            color: #505050;

            a {
                color: #505050;
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    // Start contact
    input:not([type="checkbox"]) {
        border: 1px solid #cdcdcd;
        height: 50px;
        width: 100%;
        padding: 10px 25px;
        color: #071112;
        font-weight: 500;
        border-radius: 0px;

        .list {
            width: 100%;
            border-radius: 0;
        }
    }

    textarea {
        color: #071112;
        border: 1px solid #cdcdcd;
        font-weight: 500;
        height: 116px;
        width: 100%;
        padding: 10px 25px;
        border-radius: 0px;

        &::placeholder {
            color: #505050;
            font-size: 16px;
            font-weight: 500;
            transition: .4s;
        }
    }

    input,
    textarea {
        &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: #505050;
            font-size: 16px;
            font-weight: 300;
            transition: .4s;
        }

        &::-moz-placeholder {
            /* Firefox 19+ */
            color: #505050;
            font-size: 16px;
            font-weight: 300;
            transition: .4s;
        }

        &:-ms-input-placeholder {
            /* IE 10+ */
            color: #505050;
            font-size: 16px;
            font-weight: 300;
            transition: .4s;
        }

        &:-moz-placeholder {
            /* Firefox 18- */
            color: #505050;
            font-size: 16px;
            font-weight: 300;
            transition: .4s;
        }
    }
}