.services-section {
    background-color: $light;
    &.services-section2 {
        background-color: transparent;
        margin-top: -85px;
        @media #{$md} {
            margin-top: 0px;
        }

        @media #{$sm} {
            margin-top: 0px;
        }

        @media #{$xs} {
            margin-top: 0px;
        }
    }

    .popup-modal:hover,
    .popup-video:hover {
        .cat-cap h3 {
            text-decoration: underline;
        }
    }

    .single-cat {
        @include transition(.4s);
        z-index: 1;

        .cat-icon {
            position: relative;

            img {
                margin-bottom: 30px;
                width: 100%;
                height: auto;
            }
        }

        .video-icon {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            margin: 0 auto;
            text-align: center;

            a.btn-icon,
            span.btn-icon {
                background: $theme-color;
                color: #fff;
                width: 60px;
                height: 60px;
                display: inline-block;
                text-align: center;
                border-radius: 50%;
                position: relative;

                &::after {
                    position: absolute;
                    border: 60px solid rgba(white, .5);
                    content: "";
                    border-radius: 50%;
                    left: -30px;
                    top: -30px;
                    right: 0;
                    z-index: -1;
                }

                i {
                    font-size: 16px;
                    line-height: 60px;
                    position: relative;
                    color: #333;
                }
            }
        }

        .cat-cap {
            span {
                color: #6785FF;
                font-size: 46px;
                font-weight: 600;
                margin-bottom: 10px;
                display: block;
            }

            h3 {
                font-size: 18px;
                font-weight: 500;
                color: #333;
                text-transform: capitalize;
                margin-bottom: 16px;
                display: block;
                @include transition(.2s);

                @media(min-width: 768px) {
                    font-size: 24px;
                    margin-bottom: 15px;
                }

                a:hover {
                    color: $theme-color;
                }
            }

            p {
                color: #333;
                font-size: 16px;
                line-height: 1.6;
                margin: 0;

                @media #{$sm} {
                    font-size: 13px;
                }

                @media #{$sm} {
                    font-size: 13px;
                }
            }
        }

        // Hover effect in single 
        &:hover {
            .cat-cap {
                h3 {
                    color: #000;
                }

            }
        }
    }
}

// Arrow
.services-active,
.posts-active {
    button {
        &.slick-arrow {
            position: absolute;
            border: 0;
            z-index: 2;
            cursor: pointer;
            top: 33%;
            transform: translateY(-33%);
            left: auto;
            padding: 14px 11px;
            line-height: 1;
            background: rgba(255, 255, 255, .75);
            i {
                font-size: 20px;
                color: #000;
                @include transition(.2s);
            }
            &:hover {
                background: rgba(255, 255, 255, 1);
            }
        }

        &.slick-prev {
            left: 0px;
        }

        &.slick-next {
            right: 0px;
        }
    }
}