.video-area {
    position: relative;
    height: 1190px;
    @media #{$lg} {
        height: 1100px;
    }

    @media #{$md} {
        height: 1300px;
    }

    @media #{$sm} {
        height: 1300px;
    }

    @media #{$xs} {
        height: 1500px;
    }

    // Video icon
    .video-contents {
        position: relative;
        padding: 100px 0 30px 100px;
        
        .section-tittle {
            .tittle-pera1 {
                color: #333;
            }
            p {
                color: #333;
            }
        }

        @media #{$lg} {
            padding: 100px 0 30px 50px;
        }

        @media #{$xs} {
            padding: 71px 0 30px 39px;
        }

        &::before {
            position: absolute;
            content: "";
            background: $light;
            width: 800%;
            left: 0;
            bottom: 0;
            height: 100%;
        }
    }


    .video-icon {
        position: absolute;
        right: 0;
        top: 20%;
        transform: translateY(-20%);
        left: 0;
        margin: 0 auto;
        text-align: center;

        @media #{$md} {
            top: 9%;
            transform: translateY(-9%);
        }

        @media #{$sm} {
            top: 9%;
            transform: translateY(-9%);
        }

        @media #{$xs} {
            top: 6%;
            transform: translateY(-6%);
        }

        a {
            background: $theme-color;
            color: #fff;
            width: 80px;
            height: 80px;
            display: inline-block;
            text-align: center;
            border-radius: 50%;
            position: relative;

            &::after {
                position: absolute;
                border: 80px solid rgba(white, .5);
                content: "";
                border-radius: 50%;
                left: -40px;
                top: -40px;
                right: 0;
                z-index: -1;
            }

            i {
                font-size: 20px;
                line-height: 80px;
                position: relative;
                color: #fff;
            }
        }
    }
}

.maps-area {
    position: relative;
    margin-top: -120px;

    &.maps-area2 {
        margin-top: 0px;
    }
}

.edu-details {
    padding-left: 34px;
    position: relative;
    padding-right: 30px;
}

.edu-details::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, $theme-color, rgba($theme-color, 0.1));
    height: 100%;
    width: 1px;
    border-radius: 0;
}

.single-items {
    margin-left: 30px;
    position: relative;

    img {
        position: absolute;
        width: 64px;
        height: 64px;
        left: -64px;
        top: 0;
        transform: translateX(-50%);
    }

    span {
        color: #333;
        font-family: $font_1;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.2;
        padding: 0;
        margin-bottom: 16px;
        display: block;
        position: relative;
        @media(min-width: 768px) {
            font-size: 24px;
        }
    }

    p {
        color: #333;
        font-size: 16px;
        line-height: 1.5;

        @media #{$xs} {
            font-size: 15px;
        }
    }

}

.edu-img-two {
    padding-left: 150px;
    margin-top: -206px;
    position: relative;
}

.edu-img-click {
    position: absolute;
    bottom: 162px;
    left: 100px;
}