.visit-tailor-area {
    background-color: #fff;
    display: flex;
    align-items: stretch;
    .tailor-offers {
        width: calc(50% - 15px);
        height: auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

        @media #{$md} {
            height: 420px;
            width: 100%;
        }

        @media #{$sm} {
            height: 320px;
            width: 100%;
        }

        @media #{$xs} {
            height: 250px;
            width: 100%;
        }
    }
    .tailor-details {
        width: 600px;
        padding: 120px 0 205px 80px;

        @media #{$lg} {
            width: 480px;
            padding: 100px 0 185px 80px;
        }

        @media #{$md} {
            width: 720px;
            margin: 0 auto;
            padding: 70px 15px 45px 15px;
        }

        @media #{$sm} {
            width: 540px;
            margin: 0 auto;
            padding: 70px 15px 45px 15px;
        }

        @media #{$xs} {
            width: 100%;
            padding: 70px 15px 45px 15px;
        }

        span {
            margin-bottom: 20px;
            display: block;
            color: #70D76A;
            text-transform: uppercase;
            font-size: 20px;
        }

        h2 {
            font-size: 48px;
            display: block;
            font-weight: 500;
            margin-bottom: 30px;

            @media #{$lg} {
                font-size: 40px;
            }

            @media #{$md} {
                font-size: 40px;
            }

            @media #{$sm} {
                font-size: 40px;
            }

            @media #{$xs} {
                text-align: left;
                font-size: 26px;
            }
        }

        p {
            font-size: 19px;
            color: #333;
            line-height: 1.6;
            margin-bottom: 25px;
            font-weight: 500;
        }

        p.pera-bottom {
            margin-bottom: 40px;
            font-size: 16px;
            font-weight: 400;
            color: #333;
            @media #{$xs} {
                font-size: 15px;
            }

            @media #{$sm} {
                font-size: 13px;
            }
        }
    }
    @media #{$md} {
        flex-direction: column;
    }
    @media #{$sm} {
        flex-direction: column;
    }
    @media #{$xs} {
        flex-direction: column;
    }
}

.visit-tailor-area_inverse {
    justify-content: flex-end;
    .tailor-offers {
        order: 1;
        @media #{$md} {
            order: 0;
        }
        @media #{$sm} {
            order: 0;
        }
        @media #{$xs} {
            order: 0;
        }
    }
    .tailor-details {
        order: 0;
        width: 600px;
        padding: 120px 80px 205px 0;

        @media #{$lg} {
            width: 480px;
            padding: 100px 80px 185px 0;
        }

        @media #{$md} {
            width: 720px;
            margin: 0 auto;
            padding: 70px 15px 45px 15px;
            order: 1;
        }

        @media #{$sm} {
            width: 540px;
            margin: 0 auto;
            padding: 70px 15px 45px 15px;
            order: 1;
        }

        @media #{$xs} {
            width: 100%;
            padding: 70px 15px 45px 15px;
            order: 1;
        }

        span {
            margin-bottom: 20px;
            display: block;
            color: #70D76A;
            text-transform: uppercase;
            font-size: 20px;
        }

        h2 {
            font-size: 48px;
            display: block;
            font-weight: 500;
            margin-bottom: 30px;

            @media #{$lg} {
                font-size: 40px;
            }

            @media #{$md} {
                font-size: 40px;
            }

            @media #{$sm} {
                font-size: 40px;
            }

            @media #{$xs} {
                text-align: left;
                font-size: 26px;
            }
        }

        p {
            font-size: 19px;
            color: #333;
            line-height: 1.6;
            margin-bottom: 25px;
            font-weight: 500;
        }

        p.pera-bottom {
            margin-bottom: 40px;
            font-size: 16px;
            font-weight: 400;
            color: #333;
            @media #{$xs} {
                font-size: 15px;
            }

            @media #{$sm} {
                font-size: 13px;
            }
        }
    }
    @media #{$md} {
        flex-direction: column;
    }
    @media #{$sm} {
        flex-direction: column;
    }
    @media #{$xs} {
        flex-direction: column;
    }
}