<div id="faqs" class="video-area d-flex align-items-end fix border-bottom">
    {# Video icon #}
    <div class="video-icon">
        <a class="popup-video btn-icon" href="{{ this.theme.faqs_video_url }}" aria-label="Open popup with video"><i class="fas fa-play"></i></a>
    </div>
    <div class="container">
        <div class="video-contents">
            <div class="section-tittle">
                <h2>{{ this.theme.faqs_title }}</h2>
            </div>
            <div class="faq-accordion accordion" id="accordionFaq">
                {% for item in this.theme.faqs_repeater %}
                    <div class="card">
                        <div class="card-header" id="heading{{ loop.index }}">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapse{{ loop.index }}" aria-expanded="false" aria-controls="collapse{{ loop.index }}">
                                    {{ item.question }}
                                </button>
                            </h2>
                        </div>
                        <div id="collapse{{ loop.index }}" class="collapse" aria-labelledby="heading{{ loop.index }}" data-parent="#accordionFaq">
                            <div class="card-body">
                                {{ item.answer|nl2br }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
