<section class="slider-area ">
    <div class="slider-active">
        {% for item in this.theme.hero_repeater %}
            {% if item.enable %}
                {# Single Slider #}
                <div style="background-image:url({{ (item.background|length) ? item.background|media : 'assets/demo/hero.jpg'|theme }});" class="single-slider hero-overly slider-height d-flex align-items-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xl-8 col-lg-9 col-md-12">
                                <div class="hero__caption text-center">
                                    <h1 data-animation="bounceIn" data-delay="0.2s">{{ item.title|nl2br }}</h1>
                                    <p data-animation="fadeInUp" data-delay="0.4s">{{ item.lead|nl2br }}</p>
                                    <a {{ item.link_new_tab ? 'target="_blank"' : '' }} {{ item.link_same_host ? '' : 'rel="noopener noreferrer"' }} href="{{ item.link_url }}" class="hero-btn" data-animation="fadeInUp" data-delay="0.7s">{{ item.link_label }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</section>