<div class="visit-tailor-area visit-tailor-area_inverse" id="projects">
    <div style="background-image:url({{ (this.theme.projects_background|length) ? this.theme.projects_background|media : 'assets/demo/projects-bg.jpg'|theme }});" class="tailor-offers"></div>
    <div class="tailor-details">
        <h2>{{ this.theme.projects_title }}</h2>
        <p>{{ this.theme.projects_lead|nl2br }}</p>
        <p class="pera-bottom mb-0">{{ this.theme.projects_text|nl2br }}</p>
    </div>
</div>

<section class="services-section services-section2 pb-padding fix border-bottom">
    <div class="container">
        <div class="custom-row">
            <div class="services-active">
                {% for item in this.theme.projects_repeater %}
                    {% if item.enable %}
                        {% if item.popup_type == 'video' %}
                            <a aria-label="Open popup video for {{ item.title }} project" class="popup-video" href="{{ (item.video_url|length) ? item.video_url : 'https://www.youtube.com/watch?v=6DVgOd7D51I' }}">
                                <div class="single-cat">
                                    <div class="cat-icon">
                                        <img loading="lazy" width="449" height="449" src="{{ (item.image|length) ? item.image|media : 'assets/demo/projects.jpg'|theme }}" alt="{{ item.image_alt }}">
                                        {# Icon #}
                                        <div class="video-icon">
                                            <span class="btn-icon"><i class="fas fa-play"></i></span>
                                        </div>
                                    </div>
                                    <div class="cat-cap">
                                        <h3>{{ item.title }}</h3>
                                        <p>{{ item.excerpt|nl2br }}</p>
                                    </div>
                                </div>
                            </a>
                        {% else %}
                            <a aria-label="Open popup dialog for {{ item.title }} project" class="popup-modal" href="#project-modal-{{ loop.index }}">
                                <div class="single-cat">
                                    <div class="cat-icon">
                                        <img loading="lazy" width="449" height="449" src="{{ (item.image|length) ? item.image|media : 'assets/demo/projects.jpg'|theme }}" alt="{{ item.image_alt }}">
                                    </div>
                                    <div class="cat-cap">
                                        <h3>{{ item.title }}</h3>
                                        <p>{{ item.excerpt|nl2br }}</p>
                                    </div>
                                </div>
                            </a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% for item in this.theme.projects_repeater %}
    {% if item.enable %}
        {% if item.popup_type == 'text' %}
            <div style="overflow:hidden;" id="project-modal-{{ loop.index }}" class="service-modal mfp-hide white-popup-block">
                {% if item.text|length %}
                    <h5 class="mb-3">{{ item.title }}</h5>
                    {{ item.text|raw }}
                {% else %}
                    {% content "demo/modal-dummy-copy.htm" title=item.title %}
                {% endif %}
            </div>
        {% endif %}
    {% endif %}
{% endfor %}